/* Fonte Poppins para títulos e Lora para textos */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Poppins:wght@400;600;700&display=swap');

:root {
  --primary: #629289;        /* Branco gelo */
  --terceira: #4E756E;
  --secondary: #273B37;      /* Azul petróleo claro */
  --complementary1: #141E1C; /* Cinza escuro leve */
  --complementary2: #75AFA5; /* Cinza médio */
  --accent1: #89CCC0;        /* Magenta vibrante */
  --accent2: #3B5852;        /* Laranja suave */
  --neutral: #FFFFFF;        /* Branco puro */
}

/* Exemplo de aplicação */
body {
  background-color: white;
  color: var(--complementary1);
  font-family: 'Poppins', serif;
  margin: 0 auto;
}

h1, h2, h3, .title {
  font-family: 'Poppins', sans-serif;
}


button.primary {
  background-color: var(--terceira);
  color: var(--neutral);
}

button.secondary {
  background-color: var(--accent2);
  color: var(--neutral);
}

.section-alt {
  background-color: var(--complementary2);
  color: var(--neutral);
}