.ia-intro-section {
  padding: 80px 20px;
  background: linear-gradient(to right,#0C1B1D, #2C4947);

  color: #FFFFFF;
}

.ia-intro-container {
  display: flex;
  margin: 0;
  padding: 0 0px; /* um pouco de espaçamento lateral */
  align-items: center;
  justify-content: space-between; /* mantém a imagem à direita */
  gap: 20px;
}

/* Texto à esquerda, mas mais para o meio */
.ia-intro-left {
  flex: 1;
  max-width: 50%; /* controla a largura do texto */
  margin-left: 10%; /* empurra o texto para o meio da tela */
}

/* Imagem à direita */
.ia-intro-right {
  flex: 1;
  display: flex;
  justify-content: flex-end; /* encosta a imagem na borda direita */
}

.ia-image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}


.ia-title {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Orbitron', sans-serif;
}

.ia-description {
  font-size: 1.1rem;
  line-height: 1.6;
}

.learn-more {
  color: var(--secondary);
  font-weight: bold;
  border: 1px solid #0F2021;
  padding: 20px 0px;
  font-size: 16px;
  color:#FFFFFF ;
  border-radius: 8px;
  background-color: #0F2021;
  text-decoration: none;
  width: fit-content;
  font-family: 'Orbitron', sans-serif;
}
