.casos-section {
  padding: 50px 20px;
  background: linear-gradient(180deg, #ffffff 60%, #CFC7FF 40%);
  color: #fff;
}
.caso-title{
  background-color: #000;
  margin-right: -60px;
}
.section-titless {
  text-align: left;
  font-size: 4rem;
  letter-spacing: 1px;
  margin-right: 60px;
  margin-left: 20px;
  color: var(--accent1) !important;
  font-family: 'Ailerons', sans-serif;
}

.solutions-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto 30px auto;
}

.arrows-header {
  display: flex;
  gap: 10px;
}

.arrows-header .arrows {
  width: 60px;
  height: 60px;
  font-size: 3rem;
  background: #cfc7ffc0;
  color: #000;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-container {
  overflow: hidden;
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}

.carousel {
  display: flex;
  gap: 2%;
  transition: transform 0.5s ease-in-out;
}

.card {
  min-width: 30%;
  height: 550px;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  flex-shrink: 0;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card:hover {
  background-size: 120%;
  background-position: center top;
  box-shadow: 0 15px 40px rgba(0,0,0,0.3);
}

.card-overlays {
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgb(0, 0, 0)100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px 20px;
  gap: 8px;
  border-radius: 8px;
  transition: background 1.5s ease;
}

.card-overlays h3 {
  font-size: 1.8rem;
  margin: 0;
  color: var(--accent1);
  font-family: 'Ailerons', sans-serif;
}

.card-overlays p {
  font-size: 1rem;
  margin: 0;
  color: #fff;
}

.read-more {
  display: inline-flex;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .card { min-width: 45%; height: 350px; }
}

@media (max-width: 768px) {
  .card { min-width: 80%; height: 300px; }
}
