/* ===================== CTA (SEÇÃO DE FRASE) ===================== */
.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 80px 60px 80px;
  background: #2B1B52; /* fundo escuro translúcido */
  backdrop-filter: blur(12px) saturate(150%);
  -webkit-backdrop-filter: blur(12px) saturate(150%);
  color: var(--neutral);
  text-align: center;
  position: relative;
  overflow: hidden;
  font-family: 'Rubik', sans-serif;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
}

/* ===== LINHA CENTRAL DECORATIVA ===== */
/* .cta::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 15%;
  height: 3px;
  background-color: var(--primary);
  border-radius: 2px;
  margin-bottom: 40px;
  opacity: 0.9;
} */

/* ===== TEXTO PRINCIPAL ===== */
.ceo-quote {
  font-weight: 300;
  line-height: 1.6;
  max-width: 1200px;
  margin: 0 auto;
  font-style: italic;
  position: relative;
  padding: 40px 20px;
  color: var(--accent1);
}

.fala {
  letter-spacing: 1.5px;
  font-size: 2rem;
  font-weight: 300;
  color: var(--neutral);
  font-family: 'Ailerons', sans-serif;
}

/* ===== ASPAS DE FUNDO ===== */
.ceo-quote::before,
.ceo-quote::after {
  content: '“';
  position: absolute;
  font-size: 8rem;
  color: rgba(255, 255, 255, 0.274);
  top: -30px;
  left: -20px;
  z-index: 0;
  font-family: 'Georgia', serif;
}

.ceo-quote::after {
  content: '”';
  right: -20px;
  left: auto;
  bottom: -30px;
  top: auto;
}

/* Texto sobre as aspas */
.ceo-quote > * {
  position: relative;
  z-index: 1;
}

/* ===== NOME DO AUTOR / CEO ===== */
.ceo-name {
  display: block;
  margin-top: 25px;
  font-size: 1rem;
  font-weight: 500;
  color: var(--accent1);
  letter-spacing: 0.5px;
  font-style: normal;
  font-family: 'Rubik', sans-serif;
}

/* ===== RESPONSIVO ===== */
@media (max-width: 968px) {
  .fala {
    font-size: 1.2rem;
  }
  .cta::after {
    width: 25%;
  }
  .ceo-quote::before {
    font-size: 5rem;
    top: -10px;
  }
    .ceo-quote::after {
    font-size: 5rem;
    top: 110px;
    margin-right: 10px;
  }
  .ceo-name {
  font-size: 0.85rem;
}
}
