.hero {
  background-image: url("../assets/hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  color: var(--complementary1);
  padding: 120px 20px;
  text-align: center;
  height: 40vh;
  animation: waveMove 10s ease-in-out infinite alternate;
}

@keyframes waveMove {
  0% {
    background-position: center top;
  }
  100% {
    background-position: center bottom;
  }
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.466); /* leve overlay para legibilidade */
  backdrop-filter: blur(1px);
}

.hero-content {
  position: relative;
  z-index: 1;
  animation: fadeInUp 1.5s ease-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero h1, .hero p {
  animation: floaty 4s ease-in-out infinite alternate;
}

@keyframes floaty {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-6px);
  }
}



.hero h1 {
  font-size: 4rem;
  margin-bottom: 20px;
  color: #2B1B52;
}

.hero p {
  font-size:1.5rem;
  margin-bottom: 30px;
  color: #7E6BCC;
}

.cta-button {
  background-color: transparent;
  color: var(--primary);
  padding: 12px 30px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1rem;
  border: 2px solid var(--primary);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: pulse 3s ease-in-out infinite;
}



.cta-button:hover {
  transform: scale(1.08);
  background-color: white;
  color: var(--primary);
  padding: 12px 30px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1rem;
  border: 2px solid white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: pulse 3s ease-in-out infinite;
}
