.industrias-section {
   padding: 50px 20px;
  position: relative;
  /* Fundo diagonal meio a meio */
  background: linear-gradient(
    90deg,               /* direção diagonal */
    var(--primary) 50%,   /* metade branco */
    var(--neutral) 50%  /* metade roxo */
  );
  color: #fff;
  overflow: hidden;
}

.industrias-container {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  gap: 20px;
}
.industrias-title{
  text-align: left;
  font-size: 4rem;
  margin-bottom: 30px;
  letter-spacing: 1px;
  margin-left: 50px;
  color: var(--neutral);
   font-family: 'Ailerons', sans-serif;
}
/* Lado esquerdo: lista de indústrias */
.industrias-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.industria-item {
  padding: 10px 20px;
  color: #dcd6fc;
  border-radius: 10px;
  cursor: pointer;
  font-size:2rem;
  font-weight: 500;
      font-family: 'Ailerons', sans-serif;
  transition: background 0.3s, transform 0.3s;
  
}

.industria-item:hover,
.industria-item.active {
  transform: translateX(5px);
}

/* Lado direito: painel com imagem e texto */
.industrias-content {
  flex: 2;
  position: relative;
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s ease-in-out, background-color 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: flex-end; /* para texto à direita */
}

/* Camada escura gradual sobre a imagem */
.industrias-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  pointer-events: none;
}

.industrias-text {
  position: absolute;
  background: rgb(0, 0, 0);
  padding: 25px;
  top: -120px; /* aumentei o negativo para subir mais */
  right:-60px; /* usei right para alinhar ao lado direito */
  border-radius: 0px;
  width: 400px;
  height: 210px;
  color: #ffffff;
  text-align: left;
  padding-bottom: 60px;
  transition: transform 0.3s;
}
.industria-item.active + .industrias-content .industrias-text,
.industria-item:hover + .industrias-content .industrias-text {
  transform: translateX(0);
}

.industrias-text h3 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  letter-spacing: 1px;
     font-family: 'Ailerons', sans-serif;
}

.industrias-text p {
  font-size: 1rem;
  margin-bottom: 45px;
    font-family: 'Rubik', sans-serif;
}

.industrias-text a {
  color: var(--accent1);
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s;
  border: 2px solid var(--accent1);
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 8px;
    font-family: 'Rubik', sans-serif;
}
.industrias-text a:hover {
background-color: white;
color: var(--primary);
}



/* Mobile */
@media (max-width: 768px) {
  .industrias-container {
    flex-direction: column;
  }

  .industrias-content {
    min-height: 300px;
  }
}
