.porque-nos-escolher {
  background: linear-gradient(135deg, #f9f9f9 0%, #BCAAF3 100%);
  padding: 10rem 0rem;
  font-family: 'Poppins', sans-serif;
  position: relative;
  overflow: hidden;
}

.porque-nos-escolher::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.08;
  z-index: 0;
}

.conteudo {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  text-align: center;
}

.titulo-secao {
  font-size: 3.5rem;
  font-weight: 800;
  color: #2B1B52;
  margin-bottom: 1.2rem;
  letter-spacing: -1px;
  line-height: 1.1;
}

.subtitulo-secao {
  font-size: 1.25rem;
  color: #3E2C74;
  max-width: 750px;
  margin: 0 auto 4rem;
  line-height: 1.7;
}

.grid-features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 5rem;
  justify-items: center;
}
.letra-fundos {
  position: absolute;
  top: -175px; /* sobe a letra */
  left: 7%;
  transform: translateX(-50%);
  font-size: 15rem; /* bem grande */
  color: rgba(255, 255, 255, 0.07); /* quase transparente, efeito de fundo */
  z-index: 0;
  margin-right: 20px;
  pointer-events: none;
  user-select: none;
  font-weight: 800;
  color: #BCAAF3;
}

.card-feature {
  background: #ffffff;
  border-radius: 1.5rem;
  padding: 2rem 1.5rem;
  width: 100%;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.card-feature:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.12);
}

.icone {
  margin-bottom: 1.5rem;
}

.titulo-card {
  font-size: 2rem;
  font-weight: 700;
  color: #493D8C;
  margin-bottom: 0.8rem;
}

.descricao-card {
  font-size: 1rem;
  color: #0C0A14;
  line-height: 1.6;
}

/* Responsividade */
@media (max-width: 768px) {
  .titulo-secao {
    font-size: 2.4rem;
  }
  .subtitulo-secao {
    font-size: 1.1rem;
  }
}
