.portfolio-transformacao {
  background-color: var(--neutral);
  padding: 6rem 0rem;
}

.portfolio-content {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.portfolio-title {
  position: relative;
  font-size:3rem;
  font-weight: 700;
  color: var(--accent2, --terceira);
  text-align: center;
  margin-bottom: 1.5rem;
  line-height: 1.2;
  margin-left: 60px;
}

.letra-fundo {
  position: absolute;
  top: -190px; /* sobe a letra */
  left: 7%;
  transform: translateX(-50%);
  font-size: 20rem; /* bem grande */
  color: rgba(255, 255, 255, 0.07); /* quase transparente, efeito de fundo */
  z-index: 0;
  margin-right: 20px;
  pointer-events: none;
  user-select: none;
  font-weight: 800;
  color: #BCAAF3;
}

.portfolio-title span + text {
  position: relative;
  z-index: 1;
}

.portfolio-subtitle {
  font-size: 1.2rem;
  color: var(--secondary);
  max-width: 700px;
  margin: 2rem auto 3rem auto;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
}

.portfolio-card {
  position: relative;
  border-radius: 1rem;
  height: 350px;
  overflow: hidden;
  transition: transform 0.3s ease;
  background-size: cover;
  background-position: center;
}

.portfolio-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.781);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-align: center;
}
.portfolio-overlay:hover {
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.205);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-align: center;
}
.portfolio-card h3 {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: -10px;
  color: var(--terceira);
}

.portfolio-card p {
  font-size: 1rem;
  line-height: 1.4;
    color: var(--terceira);
}
.ver-mais-btn {
  margin-top: 3rem;
  background: var(--accent1);
  color: white;
  border: none;
  padding: 1rem 2.5rem;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.ver-mais-btn:hover {
  background: var(--terceira);
  transform: translateY(-3px);
}
